body {
  margin: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}
.grid3x3 {
  display: grid;
  grid-template-columns: repeat(3, 5fr);
}
.dog40 {
  display: flex;
  justify-self: center;
  align-self: center;
  grid-area: 2 / 1 / 5 / 2;
  opacity: 1;
  width: 20vw;
  height: 20vh;
  cursor: pointer;
}
.siteName {
  display: flex;
  grid-area: 2 / 2 / 5 / 3;
  opacity: 1;
  font-size: 1.8rem;
  justify-self: right;
  align-self: center;
  font-size: 1rem;
  width: 50vw;
}
h1 {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}
.searchBar {
  display: flex;
  grid-area: 2 / 3 / 3 / 4;
  justify-self: right;
  align-items: center;
  width: 10vw;
}
.search {
  width: 50px;
}
.shoppingCart {
  display: flex;
  grid-area: 3 / 3 / 4 / 4;
  justify-self: right;
  align-items: center;
  width: 10vw;
  height: 10vw;
  cursor: pointer;
  margin-top: 1rem;
}
.cart {
  width: 3rem;
  height: 3rem;
}
.dropDown {
  display: flex;
  grid-area: 4 / 3 / 5 / 4;
  justify-self: right;
  align-items: center;
  width: 10vw;
  height: 10vw;
  cursor: pointer;
}
.navBars {
  width: 3rem;
  height: 3rem;
}
.navMenu {
  display: none;
}

@media screen and (min-width: 1024px) {
  .grid3x3 {
    display: grid;
    grid-template-columns: repeat(3, 4fr);
  }
  .dog40 {
    display: flex;
    justify-self: right;
    align-self: center;
    grid-area: 1 / 1 / 5 / 2;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
  }
  .siteName {
    display: flex;
    grid-area: 1 / 2 / 5 / 3;
    opacity: 1;
    font-size: 1.8rem;
    justify-self: left;
    align-self: center;
    font-size: 1.6rem;
    width: fit-content;
    height: fit-content;
  }
  h1 {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
  }
  .searchBar {
    display: flex;
    grid-area: 2 / 3 / 3 / 4;
    justify-self: right;
    align-items: center;
    width: fit-content;
  }
  .search {
    width: 300px;
  }
  .shoppingCart {
    display: flex;
    grid-area: 3 / 3 / 4 / 4;
    justify-self: right;
    align-items: center;
    height: fit-content;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
    margin-top: 1rem;
  }
  .cart {
    width: 3rem;
    height: 3rem;
  }
  .dropDown {
    display: none;
    grid-area: 4 / 3 / 5 / 4;
    justify-self: right;
    align-items: center;
    height: fit-content;
    cursor: pointer;
  }
  .navBars {
    display: none;
    width: 3rem;
    height: 3rem;
  }
  .navMenu {
    display: flex;
    justify-content: space-around;
    margin: 1rem 5rem 2rem 5rem;
  }
  .navItem {
    display: flex;
    justify-content: space-between;
  }
  .navPage {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 0;
    cursor: pointer;
  }

  .icon {
    display: flex;
    width: 2rem;
    height: 2rem;
    margin: 0 0.5rem 0 0;
    cursor: pointer;
  }
}

/* Adoptions*/
.adopt {
  display: grid;
  justify-content: center;
  margin-top: 1rem;
}
.adoptImage {
  display: inline-block;
  margin: 1rem auto;
}
.adoptHeading {
  text-align: center;
  margin: 1rem auto;
}
.adoptPara {
  display: flex;
  font-size: 1.3rem;
  text-align: center;
}
.adoptButton {
  display: flex;
  margin: 0.5rem auto;
  height: 2rem;
  border-radius: 1rem;
  width: 90%;
  align-items: center;
  justify-content: center;
}
#adopt2 {
  display: none;
}
@media screen and (min-width: 1024px) {
  .adopt {
    display: flex;
    margin: 2rem;
    justify-content: space-around;
  }
  .adoptContent {
    display: inline-block;
    align-items: center;
    justify-content: left;
    padding-top: 2rem;
    margin-right: 15%;
  }
  .adoptions {
    display: none;
  }

  .adoptHeading {
    display: flex;
    justify-content: left;
    margin: 2rem 0 2rem 0;
  }
  .adoptPara {
    display: flex;
  }
  .adoptButton {
    display: inline-block;
    width: 15rem;
  }
  .adoptImage {
    margin: 0 0 0 15%;
  }
  #adopt1 {
    display: none;
  }
  #adopt2 {
    display: flex;
  }
}
/* About us page */
.aboutPage {
  display: grid;
  justify-content: center;
  margin-top: 1rem;
}
.aboutImages {
  display: grid;
}
.aboutPagePetImage {
  display: inline-block;
  margin: 1rem auto;
}
.aboutPageHeading {
  text-align: center;
  margin: 1rem auto;
}
.aboutPagePara {
  display: flex;
  font-size: 1.3rem;
  text-align: center;
}
.aboutPageButton {
  display: grid;
  margin: 1rem auto;
  align-items: center;
  height: 2rem;
  border-radius: 1rem;
  width: 90%;
}
#adopt2 {
  display: none;
}
@media screen and (min-width: 1024px) {
  .aboutPage {
    display: grid;
    justify-content: center;
    margin-top: 1rem;
  }
  .aboutImages {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .aboutPagePetImage {
    display: flex;
    justify-content: space-around;
    margin: 1rem;
  }
  .aboutPageHeading {
    display: grid;
    text-align: center;
    margin: 1rem auto;
  }
  .aboutPagePara {
    display: flex;
    font-size: 1.3rem;
    text-align: center;
    padding: 0 30rem;
  }
  .aboutPageButton {
    display: grid;
    margin: 1rem auto;
    text-align: center;
    align-items: center;
    height: 2rem;
    border-radius: 1rem;
    width: 20%;
  }
  #adopt1 {
    display: none;
  }
  #adopt2 {
    display: grid;
    text-align: center;
  }
}
/* Pet cards */

.petCard {
  display: block;
  width: 300px;
  margin: auto auto 2rem auto;
}
.pet {
  display: block;
  justify-content: center;
  text-align: center;
  border: solid 2px black;
  width: 300px;
  margin: auto;
}
.petImage {
  width: 200px;
}
.petButton {
  display: grid;
  margin: 2rem auto;
  height: 2rem;
  border-radius: 1rem;
  width: 90%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.petDetail {
  margin: 0.3rem auto;
  font-weight: 400;
}
@media screen and (min-width: 1024px) {
  .horizontal {
    display: none;
  }
  .specialProducts {
    display: flex;
  }
  .special {
    margin: auto;
  }
}

/* Grooming Banner*/
.grooming {
  display: grid;
  justify-content: center;
  margin-top: 3rem;
}
.groomingImage {
  display: inline-block;
  margin: auto;
}
#groom2 {
  display: none;
}
.groomingButton {
  display: flex;
  margin: 0.5rem auto;
  height: 2rem;
  border-radius: 1rem;
  width: 90%;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 1024px) {
  .grooming {
    display: flex;
    margin: 2rem;
    justify-content: space-around;
  }
  .groomingContent {
    display: block;
    align-items: center;
    padding-top: 2rem;
    margin-left: 20%;
  }

  .groomingHeading {
    display: flex;
    justify-content: left;
    margin: 2rem 0 2rem 0;
  }
  .groomingButton {
    display: inline-block;
    width: 15rem;
  }
  .groomingImage {
    margin-right: 20%;
  }
  #groom1 {
    display: none;
  }
  #groom2 {
    display: flex;
  }
}

/* Product  of the week Banner*/
.product {
  display: grid;
  justify-items: center;
  margin-top: 3rem;
}
.productButton {
  display: flex;
  margin: 0.5rem auto;
  height: 2rem;
  border-radius: 1rem;
  width: 90%;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 1024px) {
  .product {
    display: flex;
    margin: 2rem;
    justify-content: space-around;
  }
  .productContent {
    display: block;
    align-items: center;
    padding-top: 2rem;
    margin-right: 15%;
  }

  .productHeading {
    display: flex;
    justify-content: left;
    margin: 2rem 0 2rem 0;
  }
  .productButton {
    display: inline-block;
    width: 15rem;
  }
  .productImage {
    margin-left: 15%;
  }
}

/* Special Product banner */

.horizontal {
  display: flex;
}
.special {
  display: block;
  justify-content: center;
  text-align: center;
  border: solid 2px black;
  width: 300px;
  padding: 1rem;
  margin: auto 0 auto auto;
  margin-top: 3rem;
}
.specialImage {
  width: 200px;
}
.specialButton {
  margin: 0.5rem;
  height: 2rem;
  border-radius: 1rem;
  width: 90%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.horizScrol {
  display: flex;
  width: 3rem;
  height: 3rem;
  margin: auto 1rem;
  cursor: pointer;
}
.specialProducts {
  display: none;
  margin-bottom: 2rem;
}
@media screen and (min-width: 1024px) {
  .horizontal {
    display: none;
  }
  .specialProducts {
    display: flex;
  }
  .special {
    margin: auto;
  }
}

/* Footer */
.FooterMenu {
  display: none;
}
.footerNav {
  display: grid;
  justify-content: center;
}
.footerNavItem {
  display: flex;
  margin: 0;
}
.chevronIcon {
  display: flex;
  width: 2rem;
  height: 1.5rem;
  cursor: pointer;
}
.socialMedia {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}
.SocialMediaIcon {
  display: flex;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}
.copyright {
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .socialMedia {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
  .SocialMediaIcon {
    margin: 0.5rem;
  }
  .footerNav {
    display: none;
  }
  .FooterMenu {
    display: flex;
    justify-content: space-around;
  }
}
