body {
  margin: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
}

/* Hearder*/
h1 {
  font-size: 1.8rem;
}
.collapsible {
  justify-self: right;
}
.navBars {
  display: flex;
  width: 3rem;
  height: 3rem;
  margin: 0.5rem 1rem;
  cursor: pointer;
}
.navMenu {
  display: grid;
  grid-template-columns: repeat(1, 5fr);
  max-height: 100vh;
  width: 100%;
  opacity: 1;
  margin-top: 1rem;
}
.navPage {
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 0;
  cursor: pointer;
}
.collapsibleHeader {
  display: flex;
  max-width: fit-content;
}

.searchBar {
  display: flex;
  margin: 1rem;
  width: 150%;
}
.shoppingCart {
  display: flex;
  justify-self: right;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}
.headerSection {
  display: flex;
  justify-content: space-between;
  opacity: 1;
}
#siteName {
  opacity: 1;
  align-self: center;
  font-size: 1.6rem;
}

.dog40 {
  display: flex;
  opacity: 1;
  width: 3rem;
  height: 3rem;
  margin: 1rem;
  cursor: pointer;
}
.icon {
  display: flex;
  width: 2rem;
  height: 2rem;
  margin: 0 0.5rem 0 0;
  cursor: pointer;
}

@media screen and (min-width: 1024px) {
  .header {
    display: flex;
    justify-content: right;
    align-items: center;
  }
  .headerSection {
    display: none;
    max-height: 0;
  }
  .dropDown {
    display: none;
  }
  nav.collapsible__content {
    max-height: 100vh;
    overflow: visible;
    opacity: 1;
  }
  .navMenu {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    max-height: 100vh;
    opacity: 1;
  }
  .navMenu.collapsible--expanded {
    opacity: 1;
  }
  .navItem {
    display: flex;
    justify-content: space-around;
  }

  .searchBar {
    display: flex;
    width: 100%;
    margin: 0 1rem 0 0;
  }
  .icon {
    display: flex;
    width: 2rem;
    height: 2rem;
    margin: 0 0.5rem 0 0;
    cursor: pointer;
  }
  .shoppingCart,
  .dog40 {
    display: flex;
    width: 3rem;
    height: 3rem;
    margin: 1rem;
  }
  .navPage {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 0;
  }
}

/*collapsible*/
.collapsible__content {
  max-height: 0;
  max-width: 0;
  opacity: 0;
}
.collapsible--expanded .collapsible__content {
  display: flex;
  max-height: 100vh;
  max-width: 100vh;
  opacity: 1;
}

@media screen and (min-width: 1024px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Adoptions*/
.adopt {
  display: grid;
  justify-content: center;
}
.adoptImage {
  display: inline-block;
  margin: auto;
}
.adoptHeading {
  text-align: center;
}
.adoptButton {
  display: flex;
  margin: 0.5rem;
  height: 2rem;
  border-radius: 1rem;
  width: 90%;
  align-items: center;
  justify-content: center;
}
#adopt2 {
  display: none;
}
@media screen and (min-width: 1024px) {
  .adopt {
    display: flex;
    margin: 2rem;
    justify-content: space-around;
  }
  .adoptContent {
    display: block;
    align-items: center;
    padding-top: 2rem;
    margin-right: 20%;
  }

  .adoptHeading {
    display: flex;
    justify-content: left;
    margin: 2rem 0 2rem 0;
  }
  .adoptButton {
    display: inline-block;
    width: 15rem;
  }
  .adoptImage {
    margin-left: 15%;
  }
  #adopt1 {
    display: none;
  }
  #adopt2 {
    display: flex;
  }
}

/* Grooming Banner*/
.grooming {
  display: grid;
  justify-content: center;
  margin-top: 3rem;
}
.groomingImage {
  display: inline-block;
  margin: auto;
}
#groom2 {
  display: none;
}

@media screen and (min-width: 1024px) {
  .grooming {
    display: flex;
    margin: 2rem;
    justify-content: space-around;
  }
  .groomingContent {
    display: block;
    align-items: center;
    padding-top: 2rem;
    margin-left: 20%;
  }

  .adoptHeading {
    display: flex;
    justify-content: left;
    margin: 2rem 0 2rem 0;
  }
  .adoptButton {
    display: inline-block;
    width: 15rem;
  }
  .adoptImage {
    margin-right: 15%;
  }
  #groom1 {
    display: none;
  }
  #groom2 {
    display: flex;
  }
}

/* Product  of the week Banner*/
.product {
  display: grid;
  justify-content: center;
  margin-top: 3rem;
}

@media screen and (min-width: 1024px) {
  .product {
    display: flex;
    margin: 2rem;
    justify-content: space-around;
  }
  .productContent {
    display: block;
    align-items: center;
    padding-top: 2rem;
    margin-right: 20%;
  }

  .adoptHeading {
    display: flex;
    justify-content: left;
    margin: 2rem 0 2rem 0;
  }
  .adoptButton {
    display: inline-block;
    width: 15rem;
  }
  .adoptImage {
    margin-left: 15%;
  }
}

/* Special Product banner */

.horizontal {
  display: flex;
}
.special {
  display: block;
  justify-content: center;
  text-align: center;
  border: solid 2px black;
  width: 300px;
  padding: 1rem;
  margin: auto 0 auto auto;
  margin-top: 3rem;
}
.specialImage {
  width: 200px;
}
.specialButton {
  margin: 0.5rem;
  height: 2rem;
  border-radius: 1rem;
  width: 90%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.horizScrol {
  display: flex;
  width: 3rem;
  height: 3rem;
  margin: auto 1rem;
  cursor: pointer;
}
.specialProducts {
  display: none;
  margin-bottom: 2rem;
}
@media screen and (min-width: 1024px) {
  .horizontal {
    display: none;
  }
  .specialProducts {
    display: flex;
  }
  .special {
    margin: auto;
  }
}

/* Footer */
.FooterMenu {
  display: none;
}
.footerNav {
  display: grid;
  justify-content: center;
}
.footerNavItem {
  display: flex;
  margin: 0;
}
.chevronIcon {
  display: flex;
  width: 2rem;
  height: 1.5rem;
  cursor: pointer;
}
.socialMedia {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}
.SocialMediaIcon {
  display: flex;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}
.copyright {
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .socialMedia {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
  .SocialMediaIcon {
    margin: 0.5rem;
  }
  .footerNav {
    display: none;
  }
  .FooterMenu {
    display: flex;
    justify-content: space-around;
  }
}
