body {
  margin: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}
.grid3x3 {
  display: grid;
  grid-template-columns: repeat(3, 5fr);
}
.dog40 {
  display: flex;
  justify-self: center;
  align-self: center;
  grid-area: 2 / 1 / 5 / 2;
  opacity: 1;
  width: 20vw;
  height: 20vh;
  cursor: pointer;
}
.siteName {
  display: flex;
  grid-area: 2 / 2 / 5 / 3;
  opacity: 1;
  font-size: 1.8rem;
  justify-self: right;
  align-self: center;
  font-size: 1.6rem;
  width: 50vw;
}
h1 {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}
.searchBar {
  display: flex;
  grid-area: 2 / 3 / 3 / 4;
  justify-self: right;
  align-items: center;
  width: 10vw;
}
.search {
  width: 30px;
}
.shoppingCart {
  display: flex;
  grid-area: 3 / 3 / 4 / 4;
  justify-self: right;
  align-items: center;
  width: 10vw;
  height: 10vw;
  cursor: pointer;
}
.cart {
  width: 3rem;
  height: 3rem;
}
.dropDown {
  display: flex;
  grid-area: 4 / 3 / 5 / 4;
  justify-self: right;
  align-items: center;
  width: 10vw;
  height: 10vw;
  cursor: pointer;
}
.navBars {
  width: 3rem;
  height: 3rem;
}

/*.navMenu {
  display: grid;
  grid-template-columns: repeat(1, 5fr);
  max-height: 100vh;
  width: 100%;
  opacity: 1;
  margin-top: 1rem;
}
.navPage {
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 0;
  cursor: pointer;
} 
.collapsibleHeader {
  display: flex;
  max-width: fit-content;
}

.icon {
  display: flex;
  width: 2rem;
  height: 2rem;
  margin: 0 0.5rem 0 0;
  cursor: pointer;
}*/
@media screen and (min-width: 1024px) {
  .grid3x3 {
    display: grid;
    grid-template-columns: repeat(3, 4fr);
  }
  .dog40 {
    display: flex;
    justify-self: right;
    align-self: center;
    grid-area: 1 / 1 / 5 / 2;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
  }
  .siteName {
    display: flex;
    grid-area: 1 / 2 / 5 / 3;
    opacity: 1;
    font-size: 1.8rem;
    justify-self: left;
    align-self: center;
    font-size: 1.6rem;
    width: fit-content;
    height: fit-content;
  }
  h1 {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
  }
  .searchBar {
    display: flex;
    grid-area: 2 / 3 / 3 / 4;
    justify-self: right;
    align-items: center;
    width: fit-content;
  }
  .search {
    width: 300px;
  }
  .shoppingCart {
    display: flex;
    grid-area: 3 / 3 / 4 / 4;
    justify-self: right;
    align-items: center;
    height: fit-content;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
  }
  .cart {
    width: 3rem;
    height: 3rem;
  }
  .dropDown {
    display: none;
    grid-area: 4 / 3 / 5 / 4;
    justify-self: right;
    align-items: center;
    height: fit-content;
    cursor: pointer;
  }
  .navBars {
    display: none;
    width: 3rem;
    height: 3rem;
  }
}

/*collapsible
.collapsible__content {
  max-height: 0;
  max-width: 0;
  opacity: 0;
}
.collapsible--expanded .collapsible__content {
  display: flex;
  max-height: 100vh;
  max-width: 100vh;
  opacity: 1;
}
@media screen and (min-width: 1024px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}*/

/* Adoptions*/
.adopt {
  display: grid;
  justify-content: center;
  margin-top: 1rem;
}
.adoptImage {
  display: inline-block;
  margin: auto;
}
.adoptHeading {
  text-align: center;
}
.adoptButton {
  display: flex;
  margin: 0.5rem;
  height: 2rem;
  border-radius: 1rem;
  width: 90%;
  align-items: center;
  justify-content: center;
}
#adopt2 {
  display: none;
}
@media screen and (min-width: 1024px) {
  .adopt {
    display: flex;
    margin: 2rem;
    justify-content: space-around;
  }
  .adoptContent {
    display: block;
    align-items: center;
    padding-top: 2rem;
    margin-right: 20%;
  }

  .adoptHeading {
    display: flex;
    justify-content: left;
    margin: 2rem 0 2rem 0;
  }
  .adoptButton {
    display: inline-block;
    width: 15rem;
  }
  .adoptImage {
    margin-left: 15%;
  }
  #adopt1 {
    display: none;
  }
  #adopt2 {
    display: flex;
  }
}

/* Grooming Banner*/
.grooming {
  display: grid;
  justify-content: center;
  margin-top: 3rem;
}
.groomingImage {
  display: inline-block;
  margin: auto;
}
#groom2 {
  display: none;
}

@media screen and (min-width: 1024px) {
  .grooming {
    display: flex;
    margin: 2rem;
    justify-content: space-around;
  }
  .groomingContent {
    display: block;
    align-items: center;
    padding-top: 2rem;
    margin-left: 20%;
  }

  .adoptHeading {
    display: flex;
    justify-content: left;
    margin: 2rem 0 2rem 0;
  }
  .adoptButton {
    display: inline-block;
    width: 15rem;
  }
  .adoptImage {
    margin-right: 15%;
  }
  #groom1 {
    display: none;
  }
  #groom2 {
    display: flex;
  }
}

/* Product  of the week Banner*/
.product {
  display: grid;
  justify-content: center;
  margin-top: 3rem;
}

@media screen and (min-width: 1024px) {
  .product {
    display: flex;
    margin: 2rem;
    justify-content: space-around;
  }
  .productContent {
    display: block;
    align-items: center;
    padding-top: 2rem;
    margin-right: 20%;
  }

  .adoptHeading {
    display: flex;
    justify-content: left;
    margin: 2rem 0 2rem 0;
  }
  .adoptButton {
    display: inline-block;
    width: 15rem;
  }
  .adoptImage {
    margin-left: 15%;
  }
}

/* Special Product banner */

.horizontal {
  display: flex;
}
.special {
  display: block;
  justify-content: center;
  text-align: center;
  border: solid 2px black;
  width: 300px;
  padding: 1rem;
  margin: auto 0 auto auto;
  margin-top: 3rem;
}
.specialImage {
  width: 200px;
}
.specialButton {
  margin: 0.5rem;
  height: 2rem;
  border-radius: 1rem;
  width: 90%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.horizScrol {
  display: flex;
  width: 3rem;
  height: 3rem;
  margin: auto 1rem;
  cursor: pointer;
}
.specialProducts {
  display: none;
  margin-bottom: 2rem;
}
@media screen and (min-width: 1024px) {
  .horizontal {
    display: none;
  }
  .specialProducts {
    display: flex;
  }
  .special {
    margin: auto;
  }
}

/* Footer */
.FooterMenu {
  display: none;
}
.footerNav {
  display: grid;
  justify-content: center;
}
.footerNavItem {
  display: flex;
  margin: 0;
}
.chevronIcon {
  display: flex;
  width: 2rem;
  height: 1.5rem;
  cursor: pointer;
}
.socialMedia {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}
.SocialMediaIcon {
  display: flex;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}
.copyright {
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .socialMedia {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
  .SocialMediaIcon {
    margin: 0.5rem;
  }
  .footerNav {
    display: none;
  }
  .FooterMenu {
    display: flex;
    justify-content: space-around;
  }
}
